<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Template</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="padding-left:13% ;">
        <div class="card-body">
            <div class="center">
                <h1 style="font-size: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: white;">Return Order Management</h1>
              </div>  
        </div>
    </div>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container card login-card"> 
<div class="container">
    <div class="card-body">
        <div class="brand-wrapper">
                <h2>Login</h2>
              </div>
<form novalidate #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
        <label for="username" class="sr-only">Username</label>
        <input type="text" class="form-control" placeholder="Username"
        name="username" #username="ngModel"[(ngModel)]="service.formData.username" required
        [class.invalid]="username.invalid && username.touched">
    </div>
    <div class="form-group">
        <label for="username" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password"
        name="password" #password="ngModel"[(ngModel)]="service.formData.password" required
        [class.invalid]="password.invalid && password.touched">
    </div>
    <div class="form-group">
        <button class="btn btn-block login-btn mb-4" type="submit" [disabled]="form.invalid" >
            Login
        </button>
    </div>
</form>
</div>
</div>
</div>
</main>
</body>

