<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	</head>

	<body>
        <h1 class="center" style="padding-top: 50px; font-size: 350%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >Process Final Changes</h1><br>
        <H2 class="center" style="font-size: 200%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Here are the values</H2>
        <div class="row">
            <div class = "col-6"  style="padding-left:18%; margin-top:6%">
        
                <h4><b><span class="dt"> Request Id :  </span></b><span class="diu">{{processResponse.requestId}}</span></h4>
        
                <h4><b><span class="dt"> Processing Charge :   </span></b> <span class="diu">{{processResponse.processingCharge}}</span></h4>

                <h4><b><span class="dt"> ComponentName :   </span></b> <span class="diu">{{details.componentName}}</span></h4>

                <h4><b><span class="dt"> Packaging And Delivery Charge :  </span></b> <span class="diu">{{processResponse.packagingAndDeliveryCharge}} </span></h4>
        
                <h4><b><span class="dt"> Date Of Delivery :   </span></b> <span class="diu">{{processResponse.dateOfDelivery | date:'longDate'}}</span></h4>
                
        
                </div>
                <div class="col-6" style=" padding-left:18%;margin-top:6%">
                    
                <h4><b><span class="dt"> Name :  </span></b><span class="diu">{{details.name}}</span></h4>
        
                <h4><b><span class="dt"> ConactNumber :   </span></b><span class="diu">{{details.conactNumber}}</span></h4>
        
                <h4><b><span class="dt"> CreditCardNumber :  </span></b> <span class="diu">{{details.creditCardNumber}} </span></h4>
        
                <h4><b><span class="dt"> ComponentType :   </span></b> <span class="diu">{{details.componentType}}</span></h4>

                <h4><b><span class="dt"> Qunatity :   </span></b> <span class="diu">{{details.qunatity}}</span></h4>

                
                </div>

                
        </div>
        

        <button type="submit" class="butt" style="background-color: rgb(226, 15, 15); margin-left: 35%;"  routerLink = "">Logout</button>      
        
        
        
        <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        
    
    </main>
        
    </body>
</html>